<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Listeners Test" verbose="2">
    <listeners>
<!--        <listener class-name="com.onlinecourses.testng.listeners.ListenerTest"></listener>-->
        <listener class-name="org.testng.reporters.EmailableReporter"></listener>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"></listener>
    </listeners>
    <test verbose="1" name="Listeners Test">
        <classes>
            <class name="com.onlinecourses.testng.listeners.TestCases"></class>
        </classes>
    </test>
</suite>